body {
  background-color: rgba(126, 246, 216, 0.656);
}

button {
  margin: 10px;
  padding: 10px;
  color: rgb(219, 9, 110);
  background-color: rgb(239, 233, 225);
  border-radius: 50px;
}

.categoryButton {
  display: inline-grid;
  width: 300px;
  height: 120px;
  text-align: center;
  margin-left: 45px;
  margin-right: auto;
}

h1 {
  text-align: center;
}

.questions-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h3 {
  text-align: center;
}

.endGame {
  display: inline-grid;
  text-align: center;
  background-color: red;
  color: black;

}

/* h2 {
  text-align: center;
} */

/* .count {
  border: 2px solid white;
  width: fit-content;
  align-items: center;
  display: inline-grid;
  text-align: center;

} */